.bg-body{
    background-image: linear-gradient(to bottom right,rgb(191, 190, 189), rgb(252, 249, 249)) ;

}

header{
    display:flex ;
    align-items:center;
    justify-content: center;
}

.form-label{
    font-weight: bold;
}

.card-produto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin-top: 10px;
}

.login-card{
    height: 300px;
    width: 400px;
    border: 1px solid #beb6b6;
    padding: 5px;
    border-radius: 5px ;
    background-color: orange;
   
}

.body{
    display: flex;
    justify-content:center;
    align-items:center ;
    width: 100%;
    height: 100%;
}

.space{
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.car-img{
    height: 280;
    width: 120;
}

.div-conteiner{
    display: flex; 
    flex-wrap: wrap;
}


.car{
    width: 65px;
    transition:linear 1s;
    border-radius: 10px;
}

.car:hover{
    background-color: #df830a;

}


.qt{
    text-align: center;
    background-color: green;
    position: absolute; 
    top: 1px;
    border: 1px solid; 
    border-radius: 50px; 
    color: #000; 
    width: 24px; 
    height: 24px;
}
