h1{
    color: red;
}

header{
    display:flex ;
    align-items:center;
    justify-content: center;
}

.form-label{
    font-weight: bold;
}

.card-produto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin-top: 10px;
}